@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: none;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
}
body{
    
}
p{
    color: #636567;
}
.navbar{
    margin-bottom: 10rem;
    /* margin-bottom: 10rem; */
}
.container {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .navbar{
    background-color: #636C79;
    height: 100vh;

}
.navbar-container{
    max-width: 130rem;
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.logo{
    color: #fff;
    width: 11rem;
    /* margin-top: 3rem; */
  }

.grow-list{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    align-items: center;
    /* margin-bottom: 10rem; */

}
.list{
    display: flex;
    gap: 3rem;
}
.list-item{
    font-size: 1.6rem;
    font-family: "poppins";
    color: #cecaca;
}
.button-group{
    align-self: center;
align-content: center;
}
.nav-button{
    width: 15rem;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    color: #cecaca;
    background-color: inherit;
    border: 1px solid #aaa;
    padding: 1rem 2rem;
    text-align: center;
}

.hero-section{
    display: grid;
    grid-template-columns: 50fr 50fr;
    margin-top: 5rem;
}
.hero-img img{
    width: 70%;
    height: 130%;
    /* justify-items: center; */
    /* align-items: center; */
    place-items: center;
}

.hero-text{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items:center;
     gap: 3rem;
    place-content: center;
}
.hero-text h1{
    font-size: 5rem;
    color: #fff;
}
.hero-text p{
    font-size: 1.7rem;
    line-height: 1.6;
    color: #fff;
    font-family: "poppins";
}

.input-wrapper{
    display: flex;
    gap: 1rem;
}

/* Number-section */

  .section-number{
    display: grid;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
}

.number-num{
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-family: "poppins";
}
.num p{
    font-size: 1.6rem;
    color: #686868;
    font-weight: 600;
}
.num-head{
    margin-bottom: 1.5rem;
}

.showcase{
    height: 60rem;
    margin-bottom: 15rem;
}
.showcase img{
margin: 0 auto;
width: 100%;
height: 100%;
}

.feature{
    text-align: center;
}

.feature-head{
    margin-bottom: 4rem;
}

/* Feature Showcase Area */

.feature-showcase-area{
    /* display: grid; */
    /* grid-template-columns: ; */
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.feat-show-text{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.feat-show-img{
    width: 100%;
}
.feat-show-img img{
    width: 50rem;
    height: 50rem;
}


.feat-show-text-2{
grid-column: 2/3;
}
.feat-show-img-2{
    grid-column: 1/2;
    grid-row: 2/3;

}







































footer{
    background-color:#10181D ;
}
.content{
  /* max-width: 120rem; */
  margin: 0 auto;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 120rem;
  margin: 0 auto;
}


.logo-details{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50%;

}
.media-icons{
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin-top: 3rem;
  margin-bottom: 3rem;
 margin-right: 1.4rem;
}

.fa-facebook-f{
  background-color: #4267B2;
  padding: .5rem .5rem;
  color: #F2F4FA;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.fa-twitter{
  background-color: #1EA1F1;
  padding: .5rem .5rem;
  color: #F2F4FA;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.fa-instagram{
  background-color: #E12F6D;
  padding: .5rem .5rem;
  color: #F2F4FA;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.fa-linkedin-in{
  background-color: #0277B5;
  padding: .5rem .5rem;
  color: #F2F4FA;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}

.fa-youtube{
  background-color: #FF0000;
  padding: .5rem .5rem;
  color: #F2F4FA;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}


/* ..............................  */

.link-boxes{
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}
.link_name{
 font-size: 1.8rem;
 line-height: 1.6;
 font-weight: 600;
}

.box a{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}


input{
  width: 23rem;
  height: 3.5rem;
  /* background-color:#140B5C; */
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  padding: .5rem 1rem;
  border-radius: 5px;
}
input::placeholder{
  color: #9fa0ec;
}
.input-box .button{
 background-color: #fff;
 color: #140B5C;
 font-weight: 600;
 cursor: pointer;
}
.input-box .button:hover{
  background-color:#140B5C;
  color: white;
}


/* .............................  */
.bottom-details{
 
  background-color: #10181D;
}
.bottom_text{
  max-width: 120rem;
  margin: 0 auto;
  color: #9fa0ec ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.copyright_text, .policy_terms{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

span a{
  font-size: 1.4rem;
  color: #9fa0ec;
}

.policy_terms{
  display: flex;
  gap: 1rem;
} 